!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ShoppingForCook
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .container
      .header
        %h3
          Shopping for Cook
        = link_to menus_path, method: :get do
          %button{type: "submit", class:'btn btn-success'}
            Menu一覧
        = link_to "#" do
          %button{type: "submit", class:'btn btn-success'}
            買い物リスト
        - if user_signed_in?
          = link_to edit_user_path(current_user.id), class:"userName" do
            = current_user.nickname
    = yield
    .container
      .footer
        .links
          = link_to "https://twitter.com/" do
            %i.fab.fa-twitter
              twitter
          = link_to "https://www.instagram.com/?hl=ja" do
            %i.fab.fa-instagram
              Instagram
          = link_to "https://www.youtube.com" do
            %i.fab.fa-youtube
              youtube
          = link_to "https://line.me/ja/" do
            %i.fab.fa-line
              line